@page "/counter"
@rendermode InteractiveServer
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
<PageTitle>Counter</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1>Hallo @context.User.Claims.FirstOrDefault(x=>x.Type==ClaimTypes.Name)?.Value </h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hallo Unknown user </h1>
    </NotAuthorized>
</AuthorizeView>


<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
