@page "/profile"

@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
<h3>Profile</h3>
<AuthorizeView>
    <Authorized>
        <h1>Hallo @context.User.Claims.FirstOrDefault(x=>x.Type==ClaimTypes.Name)?.Value </h1>
    </Authorized>

</AuthorizeView>
@code {

}
